@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  direction: rtl;
}

.bakhMedium {
  font-family: bakhMedium;
}
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
.error {
  margin-top: 10px;
  color: red;
  font-family: bakhMedium;
  font-size: 12px;
}
.otpContainer {
  width: "100%";
  direction: ltr;
  justify-content: center;
}
.otpContainer div {
  flex-basis: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.otpContainer input {
  min-width: 40px;
  width: 100% !important;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
}
